* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman";
  background: #B2AC88;
  color: #f5f7f7;
  line-height: 1.618em;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

h3 {
  color: #FFFFFF;
}

