* {
  box-sizing: border-box;
}


body {
  font-family: "Times New Roman";
  background: #B2AC88;
  color: #6F7259;
  line-height: 1.618em;
}


h1 {
  color: #000000;
}

.tab {
  display: inline;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #F5F5DC;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  top: -0.25rem;
  transition: top 0.25s;
  background-color: #ddd;
}

.tab button.active {
  background-color: #7393B3;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  background-color: #f5f7f7;
}

.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
