* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman";
  background: #B2AC88;
  color: #f5f7f7;
  line-height: 1.618em;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: #FFFFFF;
}

.tabs {
  position: relative;
  margin: 3rem 0;
  background: #F5F5DC;
  height: 14.75rem;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after {
  clear: both;
}
