body {
     margin: 0;
     text-align: center;
}

h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.sun {
     position: absolute;
     right: -20px;
     top: -35px;
}

.landscape { 
   position: absolute;
   bottom: 0px; 
}
.me {
    border-radius: 100%;
}
.top {
     background-color: #BCB88A;
     font-family: Pacifico, Times, serif;
     padding-top: 25px;
     position: relative;
     height: 1000px;
}

.middle{
      padding: 25px 85px 85px 70px;
      background-color: #FEFBEA;
}

.bottom {
    background-color: #BCB88A;
}
