.Header{
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    text-shadow: -2px -2px 0 #feb47b;
}

.SubText{
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
}

.HomepageWrapper{
    border-radius: 25px;
    background: linear-gradient(to bottom, #E8888A, #feb47b);
    margin: 2vw 15vw;
    text-align: center;
    padding: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    animation: moveSideToSide 3s infinite alternate;
}

.image{
    border-radius: 25px;
    width: 100%;
    height: 40vh;
}

.homepage{

    background-color: #d7f1bb;
    min-height: 100vh;
}

.landscape{
    position: absolute;
    top: 70vh;
    width: 100vw;
    height: 30vh;
}

.sun{
    width: 14vw;
    position: absolute;
    height: auto;
    right: 3vw;
    top: 6vw;
}

@keyframes fly {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(25vw, -5vh);
    }
    40% {
      transform: translate(50vw, 5vh);
    }
    60% {
      transform: translate(75vw, -5vh);
    }
    80% {
      transform: translate(105vw, 0);
    }
    100% {
        transform: translate(105vw, 0);
      }
  }
  
  .bunny {
    position: absolute;
    top: 70vh; /* Adjust as needed */
    width: 3vw; /* Adjust size as needed */
    height: auto;
    animation: fly 18s linear infinite; /* Adjust duration as needed */
    z-index: 1;
    left: -5vw;
  }

@keyframes moveSideToSide {
    from {
        transform: translateX(-15vw);
    }
    to {
        transform: translateX(-1vw); 
    }
}