.NavLink{
    color: white;
    font-weight: 300;
    font-size: 1.3vw;
    text-decoration: None;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3vw 1vw;
    background-color: #b9cda3;
    border-radius: 35px;
    width: 10vw;

}

.NavLink:hover{
    font-weight: 500;
    background-color: white;
    color: #feb47b;
}





.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    padding: 2vw 0vw;
    background-color: #c1d8a9;
    height: 2vw;
    width: 100vw;
  }