.Projects{
    background-color: rgb(8, 28, 43);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 8vh;
}

.header{
    font-size: 4vw;
    margin-bottom: 5vw;
}